@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;700&family=Roboto:wght@400;700&display=swap');

$color-background: #f6f7fa;
$color-primary: #fcfcfc;
$color-secondary: #767984;
$color-tertiary: #9498a6;
$color-accent: #ffcf52;
$color-text: #1f2730;

$font-primary: 'Be Vietnam', 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
