doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type='text/css' href="./styles/style.css")
    title Film

  body
    .container
      header.header
        .header__product-use
        .header__logo
        //- разобраться с именами ниже
        .header__search-box.search-box
          ul.search-box__search-list.search-list
          input.search-box__search-txt.search-txt#search(type="search", name="search", autocomplete="off", placeholder="Найти фильм...")
          .search-box__search-button.search-button#goSearch
      section.section.main-content
        
        

    script(src="./js/scripts.js")